@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-pattern-1 {
  background-color: #111111;
  background-image: linear-gradient(rgb(34, 34, 34, 0.5) 1px, transparent 1px),
    linear-gradient(to right, rgba(34, 34, 34, 0.5) 1px, #111111 1px);
  background-size: 80px 80px;
}

._gradient-1 {
  background: radial-gradient(
    circle at 90% 90%,
    white,
    #5280f7,
    #5864ff,
    #7a4ef5,
    #a242e5,
    #c538b3
  );
}

._container {
  width: 100%;
  padding-inline: 60px;
  padding-block: 24px;
  margin-inline: auto;
  max-width: 1400px;
}

@media (max-width: 768px) {
  ._container {
    width: 100%;
    padding-inline: 12px;
    padding-block: 12px;
    margin-inline: auto;
    max-width: auto;
  }
}

._finding-driver-loading:after {
  position: absolute;
  content: '';
  inset-block: 0;
  background-color: #2746e6;
  border-radius: 9999px;
  animation: finding-driver 60s linear forwards;
}

@keyframes finding-driver {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

._animate-up {
  animation: animate-up 1s ease-in-out forwards;
}

@keyframes animate-up {
  from {
    max-height: 0;
  }
  to {
    min-height: 30vh;
    max-height: 100vh;
  }
}